<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>投稿一覧</title>

    <!-- load library -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <script src="https://unpkg.com/vue@2.3.3/dist/vue.js"></script>

    <!-- load common files -->
    <link rel="stylesheet" href="./common/style.css">
  </head>
  <body>
    <div id="app">
      <common-menu></common-menu>

  <div class="ui main container">

      <h1 class="ui centered header my_margin">商品カゴ</h1>
      <h2 v-if="!if_buy_list">カゴは空っぽです。</h2>

        <!-- <div class="card" v-for="item in items">
        <div class="image">
          <img v-bind:src=item>
        </div>
        </div>
      </div> -->

      <div class="ui divided items">

        <div class="item" v-for="item in items">
          <div class="image">
            <img :src="item.image_url">
          </div>
          <div class="content">
            <a class="header">{{item.name}}</a>
            <div class="meta">
              <span class="cinema">{{item.price}}円</span>
            </div>
            <div class="description">
              <p>{{item.description}}</p>
            </div>
            <div class="extra">
              <a class="ui right floated red button" :href="item.delete_url">
                カゴから削除
                <i class="right chevron icon"></i>
              </a>
              <div class="ui label">White</div>
              <div class="ui label">{{item.size}}</div>
            </div>
          </div>
        </div>

        <!-- <div class="item">
          <div class="image">
            <img src="https://semantic-ui.com/images/avatar/large/elliot.jpg">
          </div>
          <div class="content">
            <a class="header">TITLE</a>
            <div class="meta">
              <span class="cinema">price</span>
            </div>
            <div class="description">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus itaque praesentium, nisi perferendis, voluptas, minima sint ut unde ad sit fugit repudiandae doloremque ducimus odio eaque hic modi repellendus fuga.</p>
            </div>
            <div class="extra">
              <div class="ui right floated red button">
                カゴから削除
                <i class="right chevron icon"></i>
              </div>
              <div class="ui label">COLOR</div>
              <div class="ui label">SIZE</div>
            </div>
          </div>
        </div> -->

      </div>



    </div>

    <div class="my_margin" style="width:100%;text-align:center;"><h3>合計金額:{{price_sum}} 円</h3></div>

  <div style="width:100%;text-align:center;" class="my_margin">
    <button class="ui secondary button my_center" v-if="if_buy_list">
      購入へ
    </button>
  </div>


</div>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.1/vue.js"></script> -->
    <script src="./common/config.js" charset="utf-8"></script>
    <script src="./common/menu.js" charset="utf-8"></script>
    <script src="./js/cart.js" charset="utf-8"></script>
  </body>
</html>
