<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>投稿一覧</title>

    <!-- load library -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <script src="https://unpkg.com/vue@2.3.3/dist/vue.js"></script>

    <!-- load common files -->
    <link rel="stylesheet" href="./common/style.css">
  </head>
  <body>
    <div id="app">
      <common-menu></common-menu>

      <div class="top-image">
        <div class="enter_btn">Enter</div>
      </div>
      <!-- <div class="ui main container">
        <div class="ui segment">
          <form class="ui form" v-on:submit.prevent="post">
            <div class="field">
              <textarea rows="3" v-model="postForm.text" required></textarea>
            </div>
            <div class="inline fields">
              <div class="field">
                <label>カテゴリー</label>
                <input type="text" v-model="postForm.category">
              </div>
              <button class="ui button" type="submit">投稿</button>
            </div>
          </form>
        </div>
        <div class="ui segment">
          <form class="ui form" v-on:submit.prevent="search">
            <div class="field">
              <label>ユーザー名</label>
              <input type="text" placeholder="ID" v-model="query.userId" required>
            </div>
            <div class="field">
              <label>カテゴリー名</label>
              <input type="text" placeholder="Category" v-model="query.category" required>
            </div>
            <div class="field">
              <label>投稿日時</label>
              <div class="inline fields">
                <div class="field">
                  <input type="date" v-model="query.start" required>
                  <label>から</label>
                </div>
                <div class="field">
                  <input type="date" v-model="query.end" required>
                  <label>まで</label>
                </div>
              </div>
            </div>
            <button class="ui fluid button" type="submit">検索</button>
          </form>
        </div>
        <div class="ui segments" v-if="sortedPosts.length > 0">
          <div class="ui segment" v-for="post in sortedPosts">
            <div class="ui right floated red icon button" v-on:click="deletePost(post)" v-if="post.userId===userId">
              <i class="trash icon"></i>
            </div>
            <h2 class="ui header">
              <div class="content">
                {{ post.userId }}
              </div>
              <div class="sub header">{{ post.date }}</div>
            </h2>
            <p>{{ post.text }}</p>
            <div class="ui label" v-if="post.category">
              {{ post.category }}
            </div>
          </div>
        </div>
      </div> -->
    </div>

    <script src="./common/config.js" charset="utf-8"></script>
    <script src="./common/menu.js" charset="utf-8"></script>
    <script src="./js/index.js" charset="utf-8"></script>
  </body>
</html>
