<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>投稿一覧</title>

    <!-- load library -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <script src="https://unpkg.com/vue@2.3.3/dist/vue.js"></script>

    <!-- load common files -->
    <link rel="stylesheet" href="./common/style.css">
  </head>
  <body>
    <div id="app">
      <common-menu></common-menu>

  <div class="ui main stackable container">

    <h1 class="ui centered header my_margin">Search</h1>

    <form class="ui my_margin side_margin form">
     <div class="ui stacked segment">

       <div class="inline centered fields">
          <div class="field">
            商品名
          </div>
          <div class="field">
         <div class="ui left icon input">
           <i class="user icon"></i>
           <input type="text" placeholder="商品名"　v-model="query_title">
         </div>
       </div>
       </div>

      <div class="inline fields">
        <div class="field">カテゴリ</div>
        <div class="field">
          <div class="ui left icon input">
            <i class="briefcase icon"></i>
            <input type="text" v-model="query_category" placeholder="カテゴリ">
          </div>
        </div>
      </div>

      <div class="inline fields">
        <div class="field">性別</div>
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <!-- <input type="password" v-model="query_gender" placeholder="性別"> -->
            <select class="ui selection dropdown" v-model="query_gender">
              <option value="" selected>指定なし</option>
              <option value="m">男</option>
              <option value="f">女</option>
            </select>
          </div>
        </div>
      </div>

      <div class="inline fields">
        <div class="field">価格</div>
        <div class="field">
          <div class="ui left icon input">
            <i class="yen sign icon"></i>
            <input type="number" v-model="query_start" placeholder="以上">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="yen sign icon"></i>
            <input type="number" v-model="query_end" placeholder="以下">
          </div>
        </div>
      </div>

          <!-- <div class="ui error message"></div> -->
       <div class="ui fluid large teal submit button" type="submit" v-on:click="query_search">Search</div>
     </div>

   </form>

      <div class="ui three link stackable cards">
        <div class="card" v-for="item in items">
          <a v-bind:href="item.url" class="image">
            <img v-bind:src=item.image_url>
          </a>
        </div>
      </div>

        <!-- <div class="card">
          <div class="image">
            <img src="https://semantic-ui.com/images/avatar/large/elliot.jpg">
          </div>
        </div>
        <div class="card">
          <div class="image">
            <img src="https://semantic-ui.com/images/avatar/large/helen.jpg">
          </div>
        </div>
        <div class="card">
          <div class="image">
            <img src="https://semantic-ui.com/images/avatar/large/jenny.jpg">
          </div>
        </div>
        <div class="card">
          <div class="image">
            <img src="https://semantic-ui.com/images/avatar/large/veronika.jpg">
          </div>
        </div>
        <div class="card">
          <div class="image">
            <img src="https://semantic-ui.com/images/avatar/large/stevie.jpg">
          </div>
        </div>
        <div class="card">
          <div class="image">
            <img src="https://semantic-ui.com/images/avatar/large/steve.jpg">
          </div>
        </div> -->
    </div><!--maincontainer-->
</div><!-- app_end -->

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.1/vue.js"></script> -->
    <script src="./common/config.js" charset="utf-8"></script>
    <script src="./common/menu.js" charset="utf-8"></script>
    <script src="./js/search.js" charset="utf-8"></script>
  </body>
</html>
